body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header * {
    display: inline-block;
}

header{
    position: fixed;
    background-color: black;
    color:white;
    width:100%;
    text-align: center;
}

header img{
    padding: 10px;
    border-radius:50%;
    float:left;
}

header h1{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

header nav{
    float: right;
    padding: 20px;
}
header a{
    color:white;
}

main {
    padding-top: 50px;
}
.description{
    background-color:rgb(240,240,240);
    margin: 30px 100px;
}
.description img{
    float:left;
    width: 500px;
    height: 500px;
    padding: 10px;
}

.description-p2{
    clear: both;
}

.relationship{
    margin: 30px 100px;
}
.relationship img{
    float: right;
    width: 500px;
    height: 500px;
    padding: 10px;
}

footer{
    clear:both;
    background-color: rgb(169,169,169);
    text-align: center;
    padding: 30px;
}

.description p , .relationship p{
    padding: 10px;
}

